.square{
    width: 100px;
    height: 100px;
    display: block;
    animation-name: square;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes square {
    0% {
        background-color: red;
        transform: translate(0,0);
    }

    25%{
        transform: translate(0, 300px);
        background-color: blue;
    }

    50% {
        background-color: green;
        transform: translate(300px, 300px);
    }
    
    75%{
        transform: translate(300px, 0px);
        background-color: yellow;
    }

    100% {
        background-color: red;
        transform: translate(0,0);
    }
}